<%= form_for(@product, url: admin_products_path) do |f| %>

	<div class="error">
	<% if @product.errors.any? %>
		<h2><%= @product.errors.count %>件のエラーが発生しました。</h2>
		<ul>
			<%= @product.errors.full_messages.each do |message| %>
				<li><p>error</p><%= message %></li>
			<% end %>
		</ul>
	<% end %>
	</div>
	
	<div class="field row">
		<%= f.label :name %>
		<%= f.text_field :name, class: "col-xs-12 book_title" %>
	</div>

    <div>ジャンル</div>

	<div class="field row">
		<%= f.label :introduction %>
		<%= f.text_area :introduction, class: "col-xs-12 book_body" %>
	</div>

    

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>